body {  
    background-color: rgb(176, 228, 178);  
    
}  
h1 {  
    color: rgb(14, 2, 24);  
    margin-left: 20px;  
} 
table {
    border-collapse: collapse;
  }
th, td {
    border: 3px solid black;
  }  

